<div>
  <mat-form-field class="filter-field">
    <mat-label>Filter</mat-label>
    <input matInput type="text" [(ngModel)]="filterText">
    @if (filterText) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="filterText=''">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</div>
<div class="icon-pool">
  @for (icon of getIcons(); track icon) {
    <img
      [src]="icon.imageUrl"
      [matTooltip]="getTooltip(icon)"
      alt=":("
      [title]="icon.key"
      [ngClass]="{ 'selected': isSelected(icon.key), 'not-selected': !isSelected(icon.key) }"
      (click)="onIconClick(icon.key)"
      (contextmenu)="onIconRightClick($event, icon.key)"
      draggable="false">
  }
</div>