@use '@angular/material' as mat;

:host {
    background-color: var(--background-color);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include mat.slider-overrides((
        with-tick-marks-container-size: 0.25em,
        hover-state-layer-color: rgba(255, 255, 255, 0.12),
    ));
}

.idea-set-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    font-weight: 800;
    padding: 0.5em 0.5em;
    border-bottom: 1px solid var(--font-color);
    user-select: none;
}

.idea-set-header > img {
    width: 96px;
    height: 96px;
    margin-right: 1.5em;
    font-size: 0.5em;
}

table {
    border-collapse: collapse;
    margin: 0.5em 0em;
}

table td:nth-child(2) {
    font-size: 0.75em;
    width: 15em;
    max-width: 15em;
    padding-left: 1em;
    border-left: 1px solid var(--font-color);
    cursor: pointer;
}

table td:nth-child(3) {
    cursor: pointer;
}

table td:nth-child(5) {
    padding: 0em 0.75em;
}

th, td {
    user-select: none;
    padding: 0em 0.25em;
    text-align: right;
    min-width: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*border: 1px solid var(--font-color);*/
}

.faded {
    opacity: 0.5;
}

.drag-preview {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--font-color);
    background-color: var(--background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-slider {
    opacity: 0.3;
}

.idea-kind-cell {
    text-align: right;
    padding-right: 1em;
    font-weight: 800;
}

.idea-kind-cell-index {
    text-align: right;
    padding-right: 1.25em;
    opacity: 0.5;
    font-weight: 600;
    font-size: 0.75em;
}

.bar-under-table {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    user-select: none;
    border-top: 1px solid var(--font-color);
}

.bar-under-table > div:first-child {
    flex-grow: 1;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.bar-under-table > div:first-child > div:nth-child(even) {
    margin-left: 0.5em;
}   

.bar-under-table > div:first-child > div:nth-child(odd) {
    margin-left: 1.5em;
}

.cost-panel {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0.5em 0em;
    font-size: 1.5em;
}

.cost-panel > div:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}