  <div class="nat-idea-table-container">

    <div class="idea-set-header">
      <img src={{nationFlagImageUrl}} alt="Flag" draggable="false">
      {{ getTitleText() }}
    </div>
    <table>
      <tbody cdkDropList (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let slider of getSliders(); let i = index">
          <ng-container *ngIf="slider !== null">
            <tr cdkDrag class="parent-slider">
              <ng-container *ngTemplateOutlet="parentSliderTemplate; context: { slider: slider, index: i }"></ng-container>
              <ng-template cdkDragPreview>
                <tr class="drag-preview">
                  <td>{{ slider.getName() }}</td>
                  <td>
                    <img [src]="slider.getImageUrl()" alt="Slider Image" width="auto" height="100%" draggable="false">
                  </td>
                </tr>
              </ng-template>
            </tr>
            <tr *ngFor="let childSlider of getChildren(slider)" class="child-slider">
              <ng-container *ngTemplateOutlet="childSliderTemplate; context: { childSlider: childSlider }"></ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="slider === null">
            <ng-container *ngTemplateOutlet="nullSliderTemplate; context: { index: i }"></ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="bar-under-table">
    <div>
      <div>
        <img [src]="getManaIcon(0)" alt="Slider Image" width="auto" height="100%" draggable="false">
      </div>
      <div>{{ getManaPercentage(0).toFixed(1) }}%</div>
      <div>
        <img [src]="getManaIcon(1)" alt="Slider Image" width="auto" height="100%" draggable="false">
      </div>
      <div>{{ getManaPercentage(1).toFixed(1) }}%</div>
      <div>
        <img [src]="getManaIcon(2)" alt="Slider Image" width="auto" height="100%" draggable="false">
      </div>
      <div>{{ getManaPercentage(2).toFixed(1) }}%</div>
    </div>
    <div class="cost-panel">
      <div>{{ getTotalCost() }}</div>
      <div>/</div>
      <div>{{ getMaxLegalCost() }}</div>
    </div>
  </div>  
  <div>
    <button 
      class="bottom-button" 
      mat-stroked-button 
      matTooltip=" {{ getExportTooltip() }}"
      [disabled]="isExportDisabled()" 
      (click)="onExportClick()">
      Export
    </button>
  </div>

<ng-template #nullSliderTemplate let-i="index">
  <tr class="placeholder-row">
    <td *ngIf="i === 0" class="idea-kind-cell">Traditions</td>
    <td *ngIf="i === 2" class="idea-kind-cell">Ideas</td>
    <td *ngIf="i === 9" class="idea-kind-cell">Ambition</td>
    <td *ngIf="i !== 0 && i !== 2 && i !== 9" class="idea-kind-cell-index">{{  i == 1 ? "" : i - 1 }}</td>
    <td cdkDragHandle>👈Select Modifier</td>
    <td cdkDragHandle>
      <img alt="🤔" width="auto" height="100%" draggable="false">
    </td>
    <td>
      <div></div>
    </td>
    <td>
      <mat-slider [max]="1" [min]="1" [step]="1" disabled>
        <input matSliderThumb [value]="1">
      </mat-slider>
    </td>
    <td class="faded">0</td>
    <td>0</td>
  </tr>
</ng-template>

<ng-template #parentSliderTemplate let-slider="slider" let-i="index">
  <td *ngIf="i === 0" class="idea-kind-cell">Traditions</td>
  <td *ngIf="i === 2" class="idea-kind-cell">Ideas</td>
  <td *ngIf="i === 9" class="idea-kind-cell">Ambition</td>
  <td *ngIf="i !== 0 && i !== 2 && i !== 9" class="idea-kind-cell-index">{{  i == 1 ? "" : i - 1 }}</td>
  <td cdkDragHandle>{{ slider.getName() }}</td>
  <td cdkDragHandle>
    <img [src]="slider.getImageUrl()" alt="Slider Image" width="auto" height="100%" draggable="false">
  </td>
  <td>
    <div>{{ slider.getCurrentModifier() }}</div>
  </td>
  <td>
    <mat-slider
        *ngIf="1 !== slider.max"
        [max]="slider.max" [min]="1" [step]="1" [showTickMarks]="slider.showTicks">
      <input matSliderThumb [(ngModel)]="slider.value">
    </mat-slider>
  </td>
  <td class="faded">{{ slider.getCurrentCost() }}</td>
  <td #realworldcostcell>{{ getRealWorldCost(i, realworldcostcell) }}</td>
</ng-template>

<ng-template #childSliderTemplate let-childSlider="childSlider">
  <td></td>
  <td>{{ childSlider.getName() }}</td>
  <td>
    <img [src]="childSlider.getImageUrl()" alt="Child Slider Image" width="auto" height="100%" draggable="false">
  </td>
  <td>
    <div>{{ childSlider.getCurrentModifier() }}</div>
  </td>
  <td colspan="3"></td>
</ng-template>