@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 1em;

    @include mat.slider-overrides((
        with-tick-marks-container-size: 0.25em,
        hover-state-layer-color: rgba(255, 255, 255, 0.12),
    ));
}

.idea-name {
    font-size: calc(0.75 * var(--font-size));
}

table {
    border-collapse: collapse;
    margin-bottom: 5em;
    border-right: 1px solid var(--font-color);
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table td:nth-child(2) {
    width: 10em;
    max-width: 10em;
    border-left: 1px solid var(--font-color);
}

table > tbody > tr:last-child > td:not(:first-child) {
    border-bottom: 1px solid var(--font-color);
}

table > tr:last-child > td:not(:first-child) {
    border-bottom: 1px solid var(--font-color);
}

th, td {
    user-select: none;
    padding: 0em 0.25em;
    text-align: right;
    min-width: 3em;
    /*border: 1px solid var(--font-color);*/
}

.faded {
    opacity: 0.25;
}

.total-cell {
    font-weight: bold;
}

.drag-preview {
    color: rgb(220, 220, 157);
    border: 1px solid rgb(220, 220, 157);
    background-color: rgb(30, 30, 30);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-slider > td:not(:first-child) {
    border-top: 1px solid var(--font-color);
}

.child-slider {
    opacity: 0.3;
}

.idea-kind-cell {
    text-align: right;
    padding-right: 1em;
    opacity: 0.5;
    font-weight: 600;
}