:host {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 2em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}