@use '@angular/material' as mat;

/*@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

:host {
    background-color:  rgb(30, 30, 30);
    color: rgb(220, 220, 157);
    font-family: 'Inconsolata', monospace;
    --font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: var(--font-size);
   
    @include mat.slider-overrides((
        with-tick-marks-container-size: 0.25em,
        hover-state-layer-color: rgba(255, 255, 255, 0.12),
    ));
}

mat-slider {
    width: 200px;
}

table {
    border-collapse: collapse;
}

table > tr > th , table > tr > td {
    user-select: none;
    padding: 0.5em;
    text-align: left;
}

.faded {
    opacity: 0.25;
}