@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:host {
    --background-color: rgb(30, 30, 30);
    --font-color: rgb(220, 220, 157);
    /*
    --font-color: rgb(220, 220, 157);
    background-color:  rgb(30, 30, 30);
    */
    --font-size: 24px;
    /*--font-family: "Sigmar", sans-serif;*/
    --font-family: "Titillium Web", sans-serif;
    --font-weight: 500;

    --mat-sys-surface: var(--background-color);

    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background-color: var(--background-color);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    @include mat.slider-overrides((
        with-tick-marks-container-size: 0.25em,
        hover-state-layer-color: rgba(255, 255, 255, 0.12),
    ));
}

mat-slider {
    width: 150px;
}
mat-tree-node {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--font-color);
}

.selected-label {
    border: 1px solid var(--font-color);
    padding: 0.25em;
    border-radius: 0.25em;
}

.idea-tree-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 30%;
    height: 95%;
    padding: 0.5em;
    overflow: auto;
}

mat-tree {
    width: 100%;
    height: 100%;
}

.nat-idea-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.idea-name {
    font-size: calc(0.75 * var(--font-size));
}

table {
    border-collapse: collapse;
}

th , td {
    user-select: none;
    padding: 0em 0.25em;
    text-align: right;
    min-width: 3em;
}

.faded {
    opacity: 0.25;
}

.total-cell {
    font-weight: bold;
    border-top: 1px solid var(--font-color);
}