:host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 1em;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.button-row {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.table-wrapper {
    flex: 1;
    overflow-y: auto;
    border-radius: 0.5em;
}

td,
th {
    user-select: none;
}

[mat-header-cell] {
    z-index: 10;
}

td {
    padding: 1em 0.75em !important;
}

.round {
    clip-path: circle(50%);
}

.top-button {
    margin: 1em;
    border-radius: 50%;
    padding: 0.5em 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

td input[matInput] {
    width: 2em;
    height: 1.5em;
    text-align: center;
    border-radius: 0.25em;
    padding: 0.1em;
    font-size: 1.5em;

    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

td input[matInput][type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}