:host {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 30%;
    height: 80%;
    padding: 0.5em;
    overflow: auto;
    border-right: 1px solid var(--font-color);
}

mat-tree-node {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: var(--font-color);
}

.selected-label {
    border: 1px solid var(--font-color);
    padding: 0.25em;
    border-radius: 0.25em;
}

mat-tree {
    width: 100%;
    height: 100%;
}