:host {
    width: 100%;
    height: 100%;

    --mat-sys-on-surface: var(--font-color);
    --mat-sys-primary: var(--font-color);
    --mat-sys-title-small-size: 2em;
    --mat-sys-title-small-font: var(--font-family);
    
}

:host::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 25%), url("https://codingafterdark.de/files/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(0.5) grayscale(0.5);
    z-index: -1;
}