:host {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 2em;
    box-sizing: border-box;
    gap: 1em;

    --mat-sys-surface-variant: var(--background-color);
}

app-nat-idea-view {
    box-shadow: 0.25em 0.25em 0.5em 0.25em rgba(0,0,0,0.25);
    opacity: 0.95;
    border: 1px solid var(--font-color);
    padding: 1em;
    width: 70%;
}

.accordion {
    display: block;
    width: 30%;
    background-color: var(--background-color);
    max-height: 90vh;
    overflow-y: auto;
}

.accordion-item {
    display: block;
    border: var(--font-color) 1px solid;
    font-family: var(--font-family);
}

.accordion-item-header {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    padding: 1em;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}

.accordion-item-description {
    color: var(--faded-font-color);
    font-size: 0.75em;
}

.accordion-item-body {
    padding: 1em;
    background-color: var(--background-color-2);
}

.accordion-item-header:hover {
    cursor: pointer;
    background-color: var(--background-color-on-hover);
    color: var(--font-color-on-hover);
}

.export-button {
    width: 100%;
    font-size: 1.5em;
}

.header-red {
    background-color: rgba(139, 0, 0, 0.5);
}

.header-green {
    background-color: rgba(0, 128, 0, 0.5);
}

.header-red:hover {
    background-color: rgba(139, 0, 0, 0.5);
}

.header-green:hover {
    background-color: rgba(0, 128, 0, 0.5);
}

.input-pair {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    border-top: 1px solid var(--font-color);
    padding: 0.5em;
}

.input-pair-top {
    display: flex;
    flex-direction: row;
}

.input-pair-top > div:first-child {
    font-size: 1.25em;
    margin-right: 0.5em;
    user-select: none;
    font-weight: bold;
    text-decoration: underline;
}

.small-field {
    width: 60%;
}

.large-field {
    width: 100%;
    height: 10em;
}