:host {
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 2em;
    box-sizing: border-box;
    gap: 1em;
}

:host::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 25%), url("https://codingafterdark.de/files/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(0.5) grayscale(0.5);
    z-index: -1;
}

app-nat-idea-view {
    box-shadow: 0.25em 0.25em 0.5em 0.25em rgba(0,0,0,0.25);
    opacity: 0.95;
    border: 1px solid var(--font-color);
    padding: 1em;
    width: 70%;
}

.accordion {
    display: block;
    width: 30%;
    background-color: var(--background-color);
    max-height: 90vh;
    overflow-y: auto;
}

.accordion-item {
    display: block;
    border: var(--font-color) 1px solid;
    font-family: var(--font-family);
}

.accordion-item-header {
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    padding: 1em;
    text-align: left;
    font-size: 1em;
    font-weight: bold;
}

.accordion-item-description {
    color: var(--faded-font-color);
    font-size: 0.75em;
}

.accordion-item-body {
    padding: 1em;
    background-color: var(--background-color-2);
}

.accordion-item-header:hover {
    cursor: pointer;
    background-color: var(--background-color-on-hover);
    color: var(--font-color-on-hover);
}