/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html, body { height: 100%; }
body { margin: 0;}

:root {
    /* ??? */
    /*
    --background-color: rgb(30, 30, 30);
    --font-color: rgb(220, 220, 157);
    --background-color-on-hover: rgb(50, 50, 50);
    --font-color-on-hover: rgb(255, 255, 255);
    --faded-font-color: rgb(150, 150, 107);
    */


    /*
    --background-color: rgb(255, 255, 255);
    --background-color-2: rgb(240, 240, 240);
    --font-color: rgb(0, 0, 0);
    */

    --background-color: rgb(18, 18, 18) ;
    --font-color: rgb(224, 224, 224);
    --faded-font-color: rgb(150, 150, 150);
    --font-color-on-hover: rgb(255, 255, 255);
    --background-color-2: rgb(30, 30, 30);
    
    --font-size: 24px;
    --font-family: "Titillium Web", sans-serif;
    --font-weight: 500;

    --mat-sys-surface: var(--background-color);
    /*--mat-sys-surface-variant: var(--background-color-2);*/
}